<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>text</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>supp</servlet-name>
    <servlet-class>com.qf.servlet.login.ServletSupplier</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>supp</servlet-name>
    <url-pattern>/supper</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>suppcx</servlet-name>
    <servlet-class>com.qf.servlet.login.ServletSuppCx</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>suppcx</servlet-name>
    <url-pattern>/suppcx</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>suppadd</servlet-name>
    <servlet-class>com.qf.servlet.login.ServletSuppAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>suppadd</servlet-name>
    <url-pattern>/suppadd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.qf.servlet.login.ServletLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/ServletLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletTc</servlet-name>
    <servlet-class>com.qf.servlet.login.ServletTc</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletTc</servlet-name>
    <url-pattern>/ServletTc</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>suppaddid</servlet-name>
  <servlet-class>com.qf.servlet.login.ServletSuppAddId</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>suppaddid</servlet-name>
  <url-pattern>/suppaddid</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>ff</filter-name>
    <filter-class>com.qf.Filter.Flt</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ff</filter-name>
    <url-pattern>/admin_index.html</url-pattern>
    <url-pattern>/admin_left.jsp</url-pattern>
    <url-pattern>/admin_top.html</url-pattern>
    <url-pattern>/providerAdmin.jsp</url-pattern>
    <url-pattern>/providerAdd.html</url-pattern>
  </filter-mapping>
</web-app>